{% extends 'base.html.twig' %}

{% block content %}

<div class="content">
    <div class="tags-content">  
        {% for tag in tag %}
            <div class="tags">
                <a href="{{ path('tag_index', {'id': tag.id })}}">{{ tag.name }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="content_question">
        {% for question in questions %}
        <div class="content-flex">
            <p class="nb-response">0 réponses</p>
            <div class="border">
                <a href="{{ path('question_show', {'id': question.id })}}">
                    <div class="question">
                        <div class="content-text-title">
                            <h1>{{question.title}}</h1>
                            <p>{{question.content}}</p>
                        </div>
                        <div class="content-img-tag">
                            <div class="img">
                                <img src="{{ asset('img/logo-user.png') }}" alt="">
                                <p>{{question.user.username}}</p>
                            </div>
                            <div class="tag">
                                {% for tag in question.tags %}
                                    <p>{{tag.name}}</p>
                                {% endfor %} 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% else %}
            <p class="search-error">Aucun film ne correspond à la recherche recherche : <strong> {{ searchTitle }} </strong></p> 
        {% endfor %} 
    </div>
</div>
        
{% endblock %}

           