<nav class="nav">
    <div class="nav_div">
        <div>
            <a href="{{ path('question_index')}}"><h1>O'FAQ</h1></a>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="button_nav">
                <form class="form-navbar" action="" method="POST">
                 <button type="submit">Recherche</button>
                    <input class="input-form-navbar" type="search" name="title" placeholder="Recherche" aria-label="Search" minlength=3>
                </form>
                <button><a href="{{ path('user_index') }}">{{ app.user.username}}</a></button>
                <button><a href="{{ path('app_logout') }}">Déconnexion</a></button>
            </div>
        {% else %}
            <div class="button_nav">
                <form class="form-navbar" action="" method="POST">
                 <button type="submit">Recherche</button>
                    <input class="input-form-navbar" type="search" name="title" placeholder="Recherche" aria-label="Search" minlength=3>
                </form>
                <button><a href="{{ path('app_login') }}">Connexion</a></button>
                <button class="button-inscri"><a href="{{ path('app_signup') }}">Inscription</a> </button>
            </div>
        {% endif %}
        
    </div>
</nav>

{% if app.request.requestUri != "/account" %}

<div class="sous_header">
    <button class="button-question"> <p>&oplus;</p><a href="{{ path('question_new') }}">Poser une question</a></button>  
</div>

{% else %}


{% endif %}




    
   
   

    
   



           
   
        

