<nav class="nav">
    <div class="nav_div">
        <div>
            <a href="{{ path('question_index')}}"><img src="{{ asset('img/faq-logo.jpg') }}" alt=""></a>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="button_nav">
                <button><a href="{{ path('user_index') }}">{{ app.user.username}}</a></button>
                <button><a href="{{ path('app_logout') }}">Déconnexion</a></button>
            </div>
        {% else %}
            <div class="button_nav">
                <button><a href="{{ path('app_signup') }}">Inscription</a> </button>
                <button><a href="{{ path('app_login') }}">Connexion</a></button>
            </div>
        {% endif %}
    </div>
</nav>

{% if app.request.requestUri != "/account" %}

<div class="sous_header">
    <button class="button-question"> <a href="{{ path('question_new') }}">Poser une question</a></button>
    <div class="tag_menu">
        <button class="button-tags">Tout les tags</button>
        <div class="tag_menu-link">
        
        {% for tag in tag %}
            <a href="{{ path('tag_index', {'id': tag.id })}}">{{ tag.name }}</a>
        {% endfor %}
        
        </div>
    </div>
</div>

{% else %}

{% endif %}



    
    {# <a class="btn btn-outline-primary my-2 my-sm-0"  href="{{ path('backend_movie_index')}} ">
        {{ app.user.username }} - {{ app.user.role.name }}
    </a> #}

   

    
   



           
   
        

