{% extends 'base.html.twig' %}

{% block content %}

<div class="content">
    <div class="content_question">
        {% for question in tags.questions %}
        <div class="content-flex">
            <p class="nb-response">0 réponses</p>
            <div class="border">
                <a href="{{ path('question_show', {'id': question.id })}}">
                    <div class="question">
                        <div class="content-text-title">
                            <h1>{{question.title}}</h1>
                            <p>{{question.content}}</p>
                        </div>
                        <div class="content-img-tag">
                            <div class="img">
                                <img src="{{ asset('img/logo-user.png') }}" alt="">
                                <p>UserName</p>
                            </div>
                            <div class="tag">
                                {% for tag in question.tags %}
                                    <p>{{tag.name}}</p>
                                {% endfor %} 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>



{% endblock %}
