{% extends 'base.html.twig' %}

{% block content %}

<div class="content">
        <div class="profil-info">
                <div>
                        <p>Nom : {{app.user.username}}</p>
                        <p>Adresse e-mail : {{app.user.email}}</p>
                        <p>Crée le : {{app.user.createdAt|localizeddate('none', 'none', 'FR_fr',null,'d MMMM yyyy')}}<p>                
                        <p>Role : {{app.user.role}}</p> 
                        <a href="">Modifier mon profil</a>
                </div>     
        </div>
        <div class="profil-content">
                <div class="profil-question">
                        <div>
                                <h2>Question</h2>

                                {% for questionsUser in app.user.questions %}                               
                                     <p><a href="{{ path('question_show', {'id': questionsUser.id })}}">{{ questionsUser }}</a></p>
                                {% endfor %}
                        </div>
                </div> 
                <div class="profil-response">
                        <div>
                                <h2>Réponses</h2>
                                {% for responsesUser in app.user.responses %}
                                    <p><a href="">{{ responsesUser }}</a></p>
                                {% endfor %}
                        </div>
                </div>
        </div>
</div>     
       
{% endblock %}

           